{% extends 'base.html' %}


{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Place of Birth</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
        
        {% for data_biography in list_biography %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{data_biography.title}}</td>
          <td>{{data_biography.name}}</td>
          <td>{{data_biography.gender}}</td>
          <td>{{data_biography.place_of_birth}}</td>
          <td>{{data_biography.date_of_birth}}</td>
          <td><a href="{% url 'biography:update' data_biography.pk %}" class="btn btn-warning mr-2">Update</a> 
          <a href="{% url 'biography:delete' data_biography.pk %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>
{% endblock content %}
    